h2{
    text-align: center;
}

.img1{
    margin-left: 225px ;
    margin-right: 30px
}

.img2{
    margin-right: 30px  ;
}
 .img3{
    margin-right: 225px;

 }
 .imgman{
    margin-left: 225px;
    margin-right: 30px;
 }
 .imgwoman{
    margin-right: 30px;
 }
 
 .imgman2{
    margin-right: 30px;
 }
